@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.intro{
    margin-top: 100px;
    background-image: url('../../assets/intro.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    width: 100%;


}

.card{
    width: 541px;
    height: 180px;
    position: relative;
    top: 348px;
    left: 165px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    padding-top: 30px;
}

.card h1{
    font-size:40px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 48px;
    color:#212121;
}

.card .author{
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}